// .logo-burger {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     margin: 20px 20px;
//     margin-bottom: 30px;
//     position: relative;
header {
    position: relative;
    .logo {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .toggle-btn {
        position: fixed;
        top: 30px;
        transition: 0.3s;

        span {
            height: 5px;
            width: 30px;
            background: white;
            display: flex;
            margin-top: 5px;
            transition: 0.3s ease;
        }
    }
    .nav-bar {
        display: none;
        transition: 0.3s;
        transform: translateY(100%);
    }
}

#nav.active {
    transform: translateY(0);
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    display: flex;
    background: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    z-index: 200;
    ul {
        li {
            margin-top: 25px;
            font-family: $durkwide;
            font-size: 22px;
            color: white;
        }
    }
}

.logo-burger.active {
    margin: 0;
}
.toggle-btn.active {
    z-index: 205;
    left: 35px;
    span {
        background: white;
        position: absolute;
        right: 0;
        transform: translate(-50%, -50%);

        &:nth-child(1) {
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: rotate(-45deg);
        }
    }
}

.hero-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: hidden;
    &::before {
        content: url(/assets/img/circle-logo.png);
        position: absolute;
        right: 35%;
        top: 10%;
        animation: logoCircle 10s linear infinite;
        @media screen and (max-width: 700px) {
            display: none;
        }
    }
    .hero-txt {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
        margin: 0 20px;
        h4 {
            font-size: 18px;
            font-family: $durkwide;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            @media screen and (min-width: 700px) {
                font-size: 22px;
            }
            @media screen and (min-width: 1100px) {
                font-size: 26px;
                margin-left: 20px;
            }
        }
        p {
            font-family: $montserrat2;
            font-size: 12px;
            line-height: 200%;
            @media screen and (min-width: 700px) {
                font-size: 14px;
            }
            @media screen and (min-width: 1100px) {
                font-size: 18px;
            }
        }
    }
}

@media screen and (min-width: 1100px) {
    .toggle-btn {
        display: none;
    }
    header {
        transition: 0.3s;
        z-index: 5;
        margin-top: 0;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 30% 70%;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        background: black;
        padding-bottom: 20px;
    }
    #nav {
        display: flex;
        justify-content: flex-end;
        transform: translateY(30%);

        ul {
            display: flex;
            white-space: nowrap;
            li {
                margin-right: 50px;
                font-family: $durkwide;
                font-size: 24px;
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    color: grey;
                }
            }
        }
    }
    .hero-container {
        margin-top: 200px;
        display: grid;
        grid-template-columns: 65% 35%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        .hero-txt {
            margin-left: 20px;
            h4 {
                text-align: left;
            }
        }
    }
}
@media screen and (min-width: 2000px) {
    .toggle-btn {
        display: none;
    }
    header {
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 30% 70%;
    }
    #nav {
        display: flex;
        justify-content: flex-end;
        transform: translateY(30%);
        ul {
            display: flex;
            li {
                margin-right: 250px;
                font-family: $durkwide;
                font-size: 34px;
            }
        }
    }
    .hero-container {
        margin-top: 100px;
        display: grid;
        grid-template-columns: 65% 35%;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        .hero-txt {
            margin-left: 20px;
            h4 {
                font-size: 34px;
                text-align: left;
            }
            p {
                font-size: 24px;
            }
        }
    }
}
@keyframes logoCircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
