.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    .details {
        margin: 40px 20px;
        overflow-x: auto;
        // width: 390px;
        display: flex;
        white-space: nowrap;
        overflow-y: hidden;
        .characteristic {
            margin-top: 40px;
            display: flex;
            text-transform: uppercase;
            align-items: center;
            margin-right: 40px;
            h4 {
                text-align: center;
                writing-mode: vertical-rl;
                margin-right: 20px;
                transform: rotate(180deg);
                color: grey;
                font-family: $montserrat1;
                font-size: 18px;
            }
            .characteristic-principal {
                h5 {
                    font-family: $montserrat1;
                    font-size: 12px;
                }
                h3 {
                    margin: 10px 0;
                    font-family: $durkwide;
                    font-size: 32px;
                }
                p {
                    font-family: $montserrat1;
                    font-size: 12px;
                }
            }
        }
    }
}
.slider {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-family: $durkwide;
        font-size: 22px;
        white-space: nowrap;
        line-height: 5px;
    }
    .slide-bar {
        .background-slide {
            margin: 0 15px;
            background: $white;
            width: 200px;
            height: 2px;
            position: relative;
            @media screen and (max-width: 1100px) {
                width: 300px;
            }
            @media screen and (max-width: 700px) {
                width: 200px;
            }
            &::after {
                content: "";
                height: 3px;
                width: 70%;
                background: #a75b12;
                position: absolute;
            }
        }
    }
}
p {
    margin: 20px 20px;
    font-family: $montserrat2;
    font-size: 12px;
    line-height: 200%;
    @media screen and (min-width: 700px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1100px) {
        font-size: 18px;
    }
}
.buy-container {
    display: flex;
    margin: 20px 20px 50px 20px;

    justify-content: space-around;
    .like {
        height: 72px;
        width: 72px;
        display: flex;
        background: linear-gradient($black, $black) padding-box,
            linear-gradient(
                    54deg,
                    rgba(164, 84, 16, 1) 48%,
                    rgba(251, 239, 183, 1) 100%
                )
                border-box;
        border-radius: 32px 0 32px 0;
        border: 1px solid transparent;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        margin-right: 10px;
        i {
            background-color: #f3ec78;
            background-image: linear-gradient(
                54deg,
                rgba(164, 84, 16, 1) 48%,
                rgba(251, 239, 183, 1) 100%
            );
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            transition: 0.2s;

            &:hover {
                cursor: pointer;
                scale: 1.1;
            }
        }
    }
    .cart {
        height: 72px;
        width: 280px;
        border-radius: 32px 0 32px 0;
        background: rgb(164, 84, 16);
        background: linear-gradient(
            54deg,
            rgba(164, 84, 16, 1) 48%,
            rgba(251, 239, 183, 1) 100%
        );
        align-items: center;
        &:hover {
            cursor: pointer;
            p {
                color: black;
            }
        }

        p {
            font-family: $durkwide;
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            line-height: 120%;
            transition: 0.3s;
        }
    }
}
.credits {
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    margin: 10px auto;
    @media screen and (max-width: 850px) {
        width: 50%;
    }
    @media screen and (max-width: 480px) {
        width: 75%;
    }
    p {
        padding: 10px;
        text-align: center;

        margin: 0;
        span {
            font-weight: bold;
        }
    }
}
@media screen and (min-width: 1100px) {
    .section1 {
        margin-top: 150px;
        display: grid;
        grid-template-columns: 72% 28%;
        img {
            width: 100%;
            object-fit: cover;
            margin-right: 50px;
        }
        .details {
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }
    }
    .slider {
        justify-content: space-around;
        margin-bottom: 50px;
        width: 75%;
        margin: 50px auto;
        .slide-bar {
            p {
                font-size: 26px;
            }
            .background-slide {
                width: 500px;
            }
        }
    }
    .buy-container {
        .like {
            height: 100px;
            width: 100px;
            i {
                font-size: 3rem;
            }
        }
        .cart {
            width: 380px;
            height: 100px;
            p {
                font-size: 24px;
                line-height: 220%;
            }
        }
    }
}
@media screen and (min-width: 2000px) {
    .section1 {
        margin-top: 250px;
        display: grid;
        grid-template-columns: 72% 28%;
        img {
            width: 100%;
            object-fit: cover;
            margin-right: 50px;
        }
        .details {
            justify-content: center;
            flex-direction: column;
            width: 100%;
            .characteristic {
                h4 {
                    font-size: 34px;
                }
                .characteristic-principal {
                    h5 {
                        font-size: 22px;
                    }
                    h3 {
                        font-size: 40px;
                    }
                    p {
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .slider {
        justify-content: space-around;
        margin-bottom: 50px;
        width: 75%;
        margin: 50px auto;
        p {
            font-size: 36px;
        }
        .slide-bar {
            .background-slide {
                width: 500px;
            }
        }
    }
    p {
        font-size: 24px;
    }
    .buy-container {
        .like {
            height: 100px;
            width: 100px;
            i {
                font-size: 3rem;
            }
        }
        .cart {
            width: 380px;
            height: 100px;
            p {
                font-size: 24px;
                line-height: 220%;
            }
        }
    }
}
